<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="altService.sys.authorRole.service.impl.AuthorRoleMapper">
	
	<select id="selectAuthorRoleList" parameterType="cri" resultType="authorRoleListDTO">		
		SELECT r.*, au.creat_dt
		FROM (SELECT *
			FROM altservice.comtnauthorrolerelate
			WHERE author_code = #{keyword}) au
		RIGHT JOIN altservice.comtnroleinfo r
		ON r.role_code = au.role_code
		ORDER BY r.role_code ASC
		LIMIT #{perPageNum} OFFSET #{offset}
	</select>
	
	<select id="selectAuthorRoleListCnt" parameterType="cri" resultType="int">
		SELECT COUNT(*) AS cnt
		FROM (SELECT *
			FROM altservice.comtnauthorrolerelate
			WHERE author_code = #{keyword}) au
		RIGHT JOIN altservice.comtnroleinfo r
		ON r.role_code = au.role_code
	</select>
	
	<insert id="insertAuthorRole" parameterType="authorRole">
		INSERT INTO altservice.comtnauthorrolerelate
		(author_code, role_code, creat_dt)
		VALUES(#{author_code}, #{ role_code}, now());
	</insert>
	
</mapper>